<ion-view title="Home" hide-back-button="true" cache-view="false" id="page5" style="">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button icon ion-log-out" ng-click="logout()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div id="home-container2">
      <div class="spacer" style="height: 30px;"></div>
      <div id="home-markdown1" ng-show="data.flag == '3'" ng-bind-html="data.message" class="show-list-numbers-and-dots"></div>
      <div id="home-markdown9" ng-show="data.flag == '2'" ng-bind-html="data.message" class="show-list-numbers-and-dots"></div>
      <div id="home-markdown10" ng-show="data.flag == '1'" ng-bind-html="data.message" class="show-list-numbers-and-dots"></div>
      <div class="spacer" style="height: 10px;"></div>
      <button id="home-button5" ng-click="question()" ng-disabled="data.fquest == '1'" class="button button-positive button-block">{{data.questions}}</button>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <div id="home-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{data.cplanguage}}</p>
    </div>
    <form id="home-form10" class="list">
      <label class="item item-select" id="home-select3">
        <span class="input-label">{{data.tlanguage}}</span>
        <select ng-model="data.nlanguage">
          <option>English</option>
          <option>Malayalam</option>
          <option>Hindi</option>
        </select>
      </label>
    </form>
    <button id="home-button7" ng-click="chglanguage()" class="button button-balanced button-block">{{data.change}}</button>
  </ion-content>
</ion-view>