<ion-view title="Login" hide-back-button="true" cache-view="false" id="page2" style="background-color: rgb(240, 240, 240);">
  <ion-content padding="true" scroll="false" class="has-header">
    <div class="spacer" style="height: 40px;"></div>
    <form id="login-form6" class="list">
      <ion-list id="login-list2">
        <label class="item item-input item-stacked-label" id="login-input10" name="email">
          <span class="input-label">Email</span>
          <input placeholder="" ng-model="data.email" type="email">
        </label>
        <label class="item item-input item-stacked-label" id="login-input11" name="password">
          <span class="input-label">Password</span>
          <input placeholder="" ng-model="data.password" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button2" ng-click="login()" style="color:#444444;" class="button button-light button-block">Log in</button>
      <a ui-sref="signup()" id="login-button3" class="button button-positive button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>